USE [CafeTakeAway]
GO
/****** Object:  Table [dbo].[CA_BAN]    Script Date: 16/05/2022 11:46:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CA_BAN](
	[MA_CA] [nchar](2) NOT NULL,
	[GIO_BD] [time](0) NOT NULL,
	[GIO_KT] [time](0) NOT NULL,
 CONSTRAINT [PK_CABAN] PRIMARY KEY CLUSTERED 
(
	[MA_CA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CA_NV]    Script Date: 16/05/2022 11:46:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CA_NV](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[MA_NV] [int] NOT NULL,
	[MA_CA] [nchar](2) NOT NULL,
	[THU] [char](10) NOT NULL,
	[MA_QUAY] [int] NOT NULL,
 CONSTRAINT [PK_CA_NV] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [UK_CA_NV] UNIQUE NONCLUSTERED 
(
	[MA_CA] ASC,
	[MA_NV] ASC,
	[THU] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CT_HD]    Script Date: 16/05/2022 11:46:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CT_HD](
	[MA_HD] [nchar](10) NOT NULL,
	[MA_TD] [int] NOT NULL,
	[SO_LUONG_LY] [int] NOT NULL,
	[GIA_TIEN] [money] NOT NULL,
 CONSTRAINT [PK_CT_HD] PRIMARY KEY CLUSTERED 
(
	[MA_HD] ASC,
	[MA_TD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CT_PN]    Script Date: 16/05/2022 11:46:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CT_PN](
	[MA_PN] [nchar](10) NOT NULL,
	[MA_NL] [int] NOT NULL,
	[SO_LUONG_NL] [float] NOT NULL,
	[GIA_TIEN] [money] NOT NULL,
 CONSTRAINT [PK_CT_PN] PRIMARY KEY CLUSTERED 
(
	[MA_PN] ASC,
	[MA_NL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CT_TD]    Script Date: 16/05/2022 11:46:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CT_TD](
	[MA_TD] [int] NOT NULL,
	[MA_NL] [int] NOT NULL,
	[SO_LUONG_CAN] [float] NOT NULL,
 CONSTRAINT [PK_CT_THUCDON] PRIMARY KEY CLUSTERED 
(
	[MA_TD] ASC,
	[MA_NL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[HOA_DON]    Script Date: 16/05/2022 11:46:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOA_DON](
	[MA_HD] [nchar](10) NOT NULL,
	[NGAY_TAO] [date] NULL,
	[MA_NV] [int] NOT NULL,
	[MA_QUAY] [int] NOT NULL,
 CONSTRAINT [PK_HOADON] PRIMARY KEY CLUSTERED 
(
	[MA_HD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[NGUYEN_LIEU]    Script Date: 16/05/2022 11:46:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NGUYEN_LIEU](
	[MA_NL] [int] IDENTITY(1,1) NOT NULL,
	[TEN_NGUYEN_LIEU] [nvarchar](40) NOT NULL,
	[DVT] [nvarchar](40) NOT NULL,
 CONSTRAINT [PK_NGUYENLIEU] PRIMARY KEY CLUSTERED 
(
	[MA_NL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [UK_NGUYEN_LIEU] UNIQUE NONCLUSTERED 
(
	[TEN_NGUYEN_LIEU] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[NHAN_VIEN]    Script Date: 16/05/2022 11:46:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[NHAN_VIEN](
	[MA_NV] [int] IDENTITY(100,1) NOT NULL,
	[HO] [nvarchar](50) NOT NULL,
	[TEN] [nvarchar](30) NOT NULL,
	[DIA_CHI] [nvarchar](100) NULL,
	[SDT] [nchar](10) NOT NULL,
	[TT_NGHI] [bit] NULL,
	[TEN_TK] [char](10) NOT NULL,
 CONSTRAINT [PK_NHANVIEN] PRIMARY KEY CLUSTERED 
(
	[MA_NV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [UK_NHANVIEN_TEN_TK] UNIQUE NONCLUSTERED 
(
	[TEN_TK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PHIEU_NHAP]    Script Date: 16/05/2022 11:46:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHIEU_NHAP](
	[MA_PN] [nchar](10) NOT NULL,
	[NGAY_NHAP] [date] NOT NULL,
	[MA_NV] [int] NOT NULL,
	[MA_QUAY] [int] NOT NULL,
 CONSTRAINT [PK_PHIEUNHAP] PRIMARY KEY CLUSTERED 
(
	[MA_PN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[QUAY_CAFE]    Script Date: 16/05/2022 11:46:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QUAY_CAFE](
	[MA_QUAY] [int] IDENTITY(1,1) NOT NULL,
	[DUONG] [nvarchar](20) NOT NULL,
	[KHU_PHO] [nvarchar](20) NOT NULL,
	[PHUONG] [nvarchar](20) NOT NULL,
	[QUAN] [nvarchar](20) NOT NULL,
	[TINH_TP] [nvarchar](20) NOT NULL,
	[GIA_TIEN] [money] NULL,
	[TT_HD] [bit] NULL,
 CONSTRAINT [PK_QUAY_CAFE] PRIMARY KEY CLUSTERED 
(
	[MA_QUAY] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [UK_QUAY_CAFE] UNIQUE NONCLUSTERED 
(
	[DUONG] ASC,
	[KHU_PHO] ASC,
	[PHUONG] ASC,
	[QUAN] ASC,
	[TINH_TP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TAI_KHOAN]    Script Date: 16/05/2022 11:46:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TAI_KHOAN](
	[TEN_TK] [char](10) NOT NULL,
	[MAT_KHAU] [varchar](30) NOT NULL,
	[CHUC_VU] [nchar](2) NULL,
 CONSTRAINT [PK_TAIKHOAN] PRIMARY KEY CLUSTERED 
(
	[TEN_TK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[THUC_DON]    Script Date: 16/05/2022 11:46:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[THUC_DON](
	[MA_TD] [int] IDENTITY(1,1) NOT NULL,
	[TEN_DO_UONG] [nvarchar](40) NOT NULL,
	[GIA_TIEN] [money] NOT NULL,
 CONSTRAINT [PK_THUCDON] PRIMARY KEY CLUSTERED 
(
	[MA_TD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [UK_THUCDON] UNIQUE NONCLUSTERED 
(
	[TEN_DO_UONG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER TABLE [dbo].[CT_HD] ADD  CONSTRAINT [DF_CT_HD_GIA_TIEN]  DEFAULT ((0)) FOR [GIA_TIEN]
GO
ALTER TABLE [dbo].[HOA_DON] ADD  CONSTRAINT [DF_HOADON_NGAYTAO]  DEFAULT (getdate()) FOR [NGAY_TAO]
GO
ALTER TABLE [dbo].[NHAN_VIEN] ADD  CONSTRAINT [DF_NHANVIEN_DIACHI]  DEFAULT ('') FOR [DIA_CHI]
GO
ALTER TABLE [dbo].[NHAN_VIEN] ADD  CONSTRAINT [DF_NHANVIEN_TRANGTHAI]  DEFAULT ((0)) FOR [TT_NGHI]
GO
ALTER TABLE [dbo].[QUAY_CAFE] ADD  CONSTRAINT [DF_QUAYCAFE_TT_HOATDONG]  DEFAULT ((1)) FOR [TT_HD]
GO
ALTER TABLE [dbo].[TAI_KHOAN] ADD  CONSTRAINT [DF_TAI_KHOAN_CHUC_VU]  DEFAULT ('NV') FOR [CHUC_VU]
GO
ALTER TABLE [dbo].[CA_NV]  WITH CHECK ADD  CONSTRAINT [FK_CA_NV_CABAN] FOREIGN KEY([MA_CA])
REFERENCES [dbo].[CA_BAN] ([MA_CA])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[CA_NV] CHECK CONSTRAINT [FK_CA_NV_CABAN]
GO
ALTER TABLE [dbo].[CA_NV]  WITH CHECK ADD  CONSTRAINT [FK_CA_NV_NHANVIEN] FOREIGN KEY([MA_NV])
REFERENCES [dbo].[NHAN_VIEN] ([MA_NV])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[CA_NV] CHECK CONSTRAINT [FK_CA_NV_NHANVIEN]
GO
ALTER TABLE [dbo].[CA_NV]  WITH CHECK ADD  CONSTRAINT [FK_CA_NV_QUAY_CAFE] FOREIGN KEY([MA_QUAY])
REFERENCES [dbo].[QUAY_CAFE] ([MA_QUAY])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[CA_NV] CHECK CONSTRAINT [FK_CA_NV_QUAY_CAFE]
GO
ALTER TABLE [dbo].[CT_HD]  WITH CHECK ADD  CONSTRAINT [FK_CT_HD_HOADON] FOREIGN KEY([MA_HD])
REFERENCES [dbo].[HOA_DON] ([MA_HD])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[CT_HD] CHECK CONSTRAINT [FK_CT_HD_HOADON]
GO
ALTER TABLE [dbo].[CT_HD]  WITH CHECK ADD  CONSTRAINT [FK_CT_HD_THUCDON] FOREIGN KEY([MA_TD])
REFERENCES [dbo].[THUC_DON] ([MA_TD])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[CT_HD] CHECK CONSTRAINT [FK_CT_HD_THUCDON]
GO
ALTER TABLE [dbo].[CT_PN]  WITH CHECK ADD  CONSTRAINT [FK_CT_PN_NGUYENLIEU] FOREIGN KEY([MA_NL])
REFERENCES [dbo].[NGUYEN_LIEU] ([MA_NL])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[CT_PN] CHECK CONSTRAINT [FK_CT_PN_NGUYENLIEU]
GO
ALTER TABLE [dbo].[CT_PN]  WITH CHECK ADD  CONSTRAINT [FK_CT_PN_PHIEUNHAP] FOREIGN KEY([MA_PN])
REFERENCES [dbo].[PHIEU_NHAP] ([MA_PN])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[CT_PN] CHECK CONSTRAINT [FK_CT_PN_PHIEUNHAP]
GO
ALTER TABLE [dbo].[CT_TD]  WITH CHECK ADD  CONSTRAINT [FK_CT_TD_NGUYENLIEU] FOREIGN KEY([MA_NL])
REFERENCES [dbo].[NGUYEN_LIEU] ([MA_NL])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[CT_TD] CHECK CONSTRAINT [FK_CT_TD_NGUYENLIEU]
GO
ALTER TABLE [dbo].[CT_TD]  WITH CHECK ADD  CONSTRAINT [FK_CT_TD_THUCDON] FOREIGN KEY([MA_TD])
REFERENCES [dbo].[THUC_DON] ([MA_TD])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[CT_TD] CHECK CONSTRAINT [FK_CT_TD_THUCDON]
GO
ALTER TABLE [dbo].[HOA_DON]  WITH CHECK ADD  CONSTRAINT [FK_HOA_DON_QUAY_CAFE] FOREIGN KEY([MA_QUAY])
REFERENCES [dbo].[QUAY_CAFE] ([MA_QUAY])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[HOA_DON] CHECK CONSTRAINT [FK_HOA_DON_QUAY_CAFE]
GO
ALTER TABLE [dbo].[HOA_DON]  WITH CHECK ADD  CONSTRAINT [FK_HOADON_NHANVIEN] FOREIGN KEY([MA_NV])
REFERENCES [dbo].[NHAN_VIEN] ([MA_NV])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[HOA_DON] CHECK CONSTRAINT [FK_HOADON_NHANVIEN]
GO
ALTER TABLE [dbo].[NHAN_VIEN]  WITH CHECK ADD  CONSTRAINT [FK_NHANVIEN_TAIKHOAN] FOREIGN KEY([TEN_TK])
REFERENCES [dbo].[TAI_KHOAN] ([TEN_TK])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[NHAN_VIEN] CHECK CONSTRAINT [FK_NHANVIEN_TAIKHOAN]
GO
ALTER TABLE [dbo].[PHIEU_NHAP]  WITH CHECK ADD  CONSTRAINT [FK_PHIEU_NHAP_QUAY_CAFE] FOREIGN KEY([MA_QUAY])
REFERENCES [dbo].[QUAY_CAFE] ([MA_QUAY])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[PHIEU_NHAP] CHECK CONSTRAINT [FK_PHIEU_NHAP_QUAY_CAFE]
GO
ALTER TABLE [dbo].[PHIEU_NHAP]  WITH CHECK ADD  CONSTRAINT [FK_PHIEUNHAP_NHANVIEN] FOREIGN KEY([MA_NV])
REFERENCES [dbo].[NHAN_VIEN] ([MA_NV])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[PHIEU_NHAP] CHECK CONSTRAINT [FK_PHIEUNHAP_NHANVIEN]
GO
ALTER TABLE [dbo].[CA_NV]  WITH CHECK ADD  CONSTRAINT [CK_CA_NV_THU] CHECK  (([THU]='CN' OR [THU]='07' OR [THU]='06' OR [THU]='05' OR [THU]='04' OR [THU]='03' OR [THU]='02'))
GO
ALTER TABLE [dbo].[CA_NV] CHECK CONSTRAINT [CK_CA_NV_THU]
GO
ALTER TABLE [dbo].[CT_HD]  WITH CHECK ADD  CONSTRAINT [CK_GIA_TIEN] CHECK  (([GIA_TIEN]>=(0)))
GO
ALTER TABLE [dbo].[CT_HD] CHECK CONSTRAINT [CK_GIA_TIEN]
GO
ALTER TABLE [dbo].[TAI_KHOAN]  WITH CHECK ADD  CONSTRAINT [CK_CHUC_VU] CHECK  (([CHUC_VU]='NV' OR [CHUC_VU]='QL'))
GO
ALTER TABLE [dbo].[TAI_KHOAN] CHECK CONSTRAINT [CK_CHUC_VU]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'NGUYÊN LIỆU CẦN DÙNG' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CT_TD', @level2type=N'COLUMN',@level2name=N'SO_LUONG_CAN'
GO
